<h2 class="text-center">文件上传</h2><br/>

<div id="myId" class="dropzone"></div>
<br/>
<div class="row text-center">
	<div class="col-12">
		<button type="submit" class="btn btn-primary start">
	            <i class="glyphicon glyphicon-upload"></i>
	            <span>开始上传</span>
	    </button>
	    <button type="submit" class="btn btn-info refresh">
	            <i class="glyphicon glyphicon-refresh"></i>
	            <span>清空记录</span>
	    </button>
	</div>
</div>


<script type="text/javascript">
	
	var countfile = 0,
		checkcountfile = 0
    //下面两行是js和jquery的方式实现绑定div的例子，你选择一种即可
    //var myDropzone = new Dropzone("#myId", { url: "{{ url_for('upload_file') }}" });
    $("#myId").dropzone({ 
    	url: "/csseinfo/user/upload" ,
    	addRemoveLinks: true,        
        method: 'post',
        filesizeBase: 1024,
        maxFilesize: 25, //文件大小，单位：MB
        MaxFiles:8,
        acceptedFiles: ".doc,.docx,.xls,.xlsx,.png,.jpg,.ppt,.pptx,.gif,.jpeg,.txt,.pdf", //上传的类型
        //previewTemplate: $('#preview-template').html(),//如果去掉该选项就会使用默认的
        autoQueue: false,
        dictDefaultMessage:'拖动文件至此或者点击上传',
        dictMaxFilesExceeded: "您最多只能上传5个文件！",
        dictResponseError: '文件上传失败!',
        dictInvalidFileType: "文件类型只能是*.jpg,*.gif,*.png,*.jpeg,.doc,.docx,.ppt,.pptx,.excel,.txt,.pdf",
        dictFallbackMessage:"浏览器不受支持",
        dictFileTooBig:"文件过大上传文件最大支持(4MB)",
        dictRemoveLinks: "删除",
        dictCancelUpload: "取消",
        dictCancelUploadConfirmation:"确定要取消上传该文件吗",
        dictRemoveFile:"删除文件",
        init:function(){
        	var self = this
			this.on('addedfile',function(file){
				countfile = countfile+1
				console.log('countfile---->',countfile)
				if(countfile > 8){
					layer.open({
					  title: '提示'
					  ,content: '一次性只能上传8个文件,请重新选择',
					  end:function(){
					  	//消失回调
					  	countfile = 0
					  	self.removeAllFiles(true);
					  }
					}); 
					return false    
				}//if
				$(".start").click (function() { 
                    if(file.status == 'added'){
                    	self.enqueueFile(file);                     	
                    }else if(!file.status){
                    	console.log('不操作')
                    }else{
                    	console.log('重复上传')
                    	layer.open({
                    		title:'提示',
                    		content:'该文件已上传'
                    	})
                    }
                })  //start
                $(".refresh").click (function() { 
					console.log('clear records')
					$('#maincontent').load('/csseinfo/user/upload',function(result){
	                    let $result = $(result)
	                    $result.find("script").appendTo('#maincontent')                   
	                  })
				})     
				console.log('add file---->',file)
			})//addedfile

			this.on("removedfile", function(file) {
				if(file.status=='added'){
					console.log('还没上传，不进行任何操作,countfile - 1')
					countfile = countfile - 1
				}else{
					console.log('已经上传，需要从服务器删除,countfile - 1')
					countfile = countfile - 1
					console.log('file.upload.filename--->',file.upload.filename)
					$.ajax({
						method:'POST',
						url:'/csseinfo/user/removedfile',
						data:{
							filename:file.upload.filename
						},
						success:function(result){
							console.log('removedfile success',result)
						},
						error:function(error){
							console.log('removedfile error',error)
						}
					})
				}
				console.log('removedfile---->',file)
                console.log("File " + file.name + " removed");
            });//removefile

			this.on('sending',function(file, xhr, formData){
				console.log('sending file--->',file)
				console.log('sending xhr--->',xhr)
				let myformdata =  new FormData();
				console.log('sending myformdata--->',formData)
        		console.log('sending uuid--->',file.upload.uuid)
            	myformdata.append("fileuuid", file.upload.uuid);
            	xhr.data = myformdata
            	console.log('sending myformdata--->',myformdata)
			})//sending

			this.on('success',function(file,response,e){
				checkcountfile = checkcountfile + 1
				if(response.code == 0 && checkcountfile == countfile){
	        		console.log('success--->',file)
	        		console.log('success--->',response)
	        		layer.msg("上传成功")
	        		/*layer.open({
	        			title:'提示',
	        			content:'上传成功',
	        			end:function(){
	        				//self.removeAllFiles(true)
	        			}
	        		})*/
	        	}else{
	        		console.log('failed--->',response,e)
	        		$(file.previewTemplate).children('.dz-error-mark').css('opacity', '1')
	        	}
			})//success
			this.on('queuecomplete',function(args){
				console.log('queuecomplete--->',args)
			})
        }, 
       
    });
</script>