/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 60px;
  margin: 0 0;
}
.dropzone{
  border:1px dashed;
  
  color:blue;
}
.my-form-item{
  margin-top: 20px;
  margin-bottom: :0px!important;
}
.search_result{
  /*min-height: 800px;
  margin: 30px auto;*/
}
#searchspan{
      color: white;
    border: 1px solid #2d78f4;
    background-color: #3385ff;
}
#demo3{
  display: block;
  margin-bottom: 50px;
}
#search_content{
  padding: 15px 15px;
}
.res_item{
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 1.2;
  text-align: left;
  font-size: small;
  font-family: arial,sans-serif;
}
.res_h3{
  color: #38f;
  padding:0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 8px 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
}
.res_h3_a{
  color: #38f;
}
.res_h3_a:hover{
  color: #38f;
  cursor: pointer;
  text-decoration:none;
}
.res_h3_a1{
  color: #38f;
}
.res_h3_a1:hover{
  color: #38f;
  cursor: pointer;
  text-decoration:none;
}
.res_content{
  margin-bottom: 3px;
  line-height: 1.54;
  color: #545454;
  max-width: 48em;
}
.res_des{
  font-size: 13px;
  height: 18px;
  line-height: 16px;
  color: #808080;
}
.res_op{
  line-height: 1.4;
  word-wrap: break-word;
}
#res_a{
  font-size: 13px;
}

#res_a:hover{
  color: #3385ff; 
  text-decoration:none;
}
#res_tag{
  color: red;
  margin-right: 12px;
}
#res_cn{
  margin-right: 12px;
}
.highlight {
  color:red;
  font-weight: bold;
}

/*= common css to all effects =*/
/*.single-member{width: 280px; float: left; margin: 30px 2.5%; background-color: #fff; text-align: center; position: relative;}
.member-image img{max-width: 100%; vertical-align: middle;}
.effect-2 .member-info h3 {font-size: 16px; font-weight: normal; margin: 10px 0 0; text-transform: uppercase;}
h5 {font-size: 16px; font-weight: 300; margin: 0 0 15px; line-height: 22px;}
p {font-size: 14px; font-weight: 300; line-height: 22px; padding: 0 30px; margin-bottom: 10px;}
.social-touch a{display: inline-block; width: 27px; height: 26px; vertical-align: middle; margin: 0 2px; background-image: url(../images/social-icons.png); background-repeat: no-repeat; opacity: 0.7; transition: 0.3s;}
.social-touch a:hover{opacity: 1; transition: 0.3s;}
.fb-touch{background-position: 0 0;}
.tweet-touch{background-position: -35px 0;}
.linkedin-touch{background-position: -71px 0;}
.icon-colored .fb-touch{background-position: 0 -27px;}
.icon-colored .tweet-touch{background-position: -35px -27px;}
.icon-colored .linkedin-touch{background-position: -71px -27px;}*/
/*= common css to all effects end =*/

/*= effect-2 css =*/
.single-member{
  width: 250px;
  float: left;
  margin: 25px 15px;
}
.effect-2 .member-info h3 {font-size: 13px; font-weight: normal; margin: 10px 0 0; text-transform: uppercase;}
.effect-2{max-height: 302px; min-height: 302px; overflow: hidden;}
.effect-2 h3{padding-top: 7px; line-height: 33px;}
.effect-2 .member-image{border-bottom: 5px solid #1fb554; height: 212px; overflow: hidden; width: 100%; transition: 0.4s; display: inline-block; float: none; vertical-align: middle;}
.effect-2 .member-info{transition: 0.4s;text-align: center;}
.effect-2 .member-info p{height: 88px;}
.effect-2 .member-info span{height: 20px;}
.effect-2 .member-image img{width: 100%; vertical-align: bottom;}
.effect-2 .social-touch{background-color: #1fb554; float: left; left: 0; bottom: 0; overflow: hidden; padding: 5px 0; width: 100%; transition: 0.4s;}
.effect-2:hover .member-image{height: 160px; transition: 0.4s;}
.effect-2 .social-touch a:hover{
  color: white;
  text-decoration:none;
  font-weight: bold;
}
/*= effect-2 css end =*/

/*= effect-3 css =*/
.effect-3{max-height: 302px; min-height: 302px; overflow: hidden;}
.effect-3 h3{padding-top: 7px; line-height: 33px;}
.effect-3 .member-image{border-bottom: 5px solid #e5642b; transition: 0.4s; height: 212px; width: 100%; display: inline-block; float: none; vertical-align: middle;}
.effect-3 .member-info{transition: 0.4s;}
.effect-3 .member-image img{width: 100%; vertical-align: bottom;}
.effect-3 .social-touch{background-color: #e5642b; float: left; left: 0; bottom: 0; overflow: hidden; padding: 5px 0; width: 100%; transition: 0.4s;}
.effect-3:hover .member-image{border-bottom: 0; border-radius: 0 0 50px 50px; height: 81px; display: inline-block; overflow: hidden; width: 109px; transition: 0.4s;}
/*= effect-3 css end =*/