<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title><%=title%></title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/csseinfo/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/csseinfo/stylesheets/layui.css" rel="stylesheet">
    <link href="/csseinfo/stylesheets/style.css" rel="stylesheet">
    <link href="/csseinfo/stylesheets/app.min.css" rel="stylesheet">
    <link href="/csseinfo/stylesheets/lightbox.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">菜单</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CSSE DOCS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/public">首页</a></li>
            <li><a href="/csseinfo/user">我的文档</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user.user.cn%> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>CSSE DOCS</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
      </div>

      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      	<form class="">
            <div class="input-group">
                <input id="searchtxt" type="text" class="form-control" onkeydown="onKeyDown(event)"/>
                <span id="searchspan" class="input-group-addon btn "><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;搜索</span>
            </div> 
        </form>
      </div>
    </div> <!-- /container -->

      <div class="container search_result">
        <div class="row ">
          <div class="col-12">
            <div id="search_content"></div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>


    <footer class="footer">
      <div class="container">
        <p class="text-muted">2018 © CSSE</p>
      </div>
    </footer>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/csseinfo/javascripts/app.min.js"></script>
    <script src="/csseinfo/javascripts/layui.all.js"></script>
    <script type="text/javascript" src="/csseinfo/javascripts/lightbox-2.6.min.js"></script>
    <script src="/csseinfo/javascripts/bootstrap-paginator.min.js"></script>
    <script type="text/javascript">
        function onKeyDown(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if(e && e.keyCode==27){ // 按 Esc 
                    //要做的事情
            }
            if(e && e.keyCode==113){ // 按 F2 
                     //要做的事情
            }            
            if(e && e.keyCode==13){ // enter 键
                alert("此处回车触发搜索事件");
            }
        }
        $(function(){
          $('#searchspan').on('click',function(event){
            let searchtxt = $('#searchtxt').val()
            console.log('check searchtxt---->',searchtxt)
            if(!searchtxt){
              return false
            }else{
                $('#search_content').load('/csseinfo/public/searchtxt?searchtxt='+searchtxt,function(result){
                  let $result = $(result)
                      $result.find("script").appendTo('#search_content') 
                })//load
            }
            
            // $.ajax({
            //   method:'POST',
            //   url:'/csseinfo/public/searchtxt',
            //   data:{
            //     searchtxt:searchtxt
            //   },
            //   success:function(result){
            //     console.log('result--->',result)
            //     let $result = $(result)
            //         $result.appendTo('#search_content')  
            //   },
            //   error:function(error){
            //     console.log('error---->',error)
            //   }
            // })//ajax
          })//click
          //layui
          
        })//exect
        </script> 
        <div id="Layer1" style="display:none;position:absolute;z-index:1;"></div>
        <!-- 鼠标上移显示图片 -->
  </body>
</html>